@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.navbar{
  color: #586F55;
  font-family:'Lato',sans-serif ;

}
.sidebar{
  color:#274c77;
  font-family: 'Lato',sans-serif;
  text-align: center;

}

.sidebar button:hover{
  background-color: #3d8a3c;
  color: white;
  transition-duration: 200ms;

}
.index{
  background-color: antiquewhite;
}
.btn {
width: 200px;
height: 42px;
text-align: left;
border-radius:2cm;
border-left: 100px;
text-decoration: none;
}
.href{
  color:black;
  
}
.href:hover{
  color:black;
}
